/* {%load static%} */

* {
  margin: 0px;
  padding: 0px;
}
#box-container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  font: 12px "Open Sans", sans-serif;
  display: none;
}

#box-container.active {
  display: block;
}

#box {
  position: absolute;
  width: 50%;
  min-width: 330px;
  background: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

#box-container.active #box {
  animation: users-list-animation 300ms forwards linear;
}
@keyframes users-list-animation {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opactiy: 1;
    top: 40px;
  }
}

#users-list {
  width: 100%;
}

.box-body {
  position: relative;
  height: 360px;
}
.box-body div {
  transition: all 0.2s ease-in-out;
}

#users {
  height: 100%;
  opacity: 0;
  pointer-events: none;
  overflow-y: scroll;
}

#users.active {
  opacity: 1;
  pointer-events: all;
}
#selected-users {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  opacity: 0;
  z-index: -100;
}
#selected-users.active {
  z-index: 100;
  opacity: 1;
  pointer-events: all;
}

#users img {
  content: url("../assets/plus.png");
  user-select: none;
}
#selected-users img {
  content: url("../assets/minus.png");
  user-select: none;
}
#selected-users-list {
  display: relative;
}
#selected-users-list-total {
  position: absolute;
  top: -10px;
  right: -10px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  font-weight: 600;
  font-size: 0.95rem;
  display: none;
  background: rgb(233, 83, 83);
}
#selected-users-list-total.show {
  display: flex;
}

#topmenu {
  height: 69px;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #d8dfe3;
  position: relative;
}
#topmenu div {
  width: 50%;
  height: 70px;
  font-size: 1.4rem;
  cursor: pointer;
  color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
}
#topmenu div:hover {
  opacity: 0.8;
}

#topmenu #active-bar {
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 50%;
  background: rgb(66, 135, 226);
}
#topmenu #active-bar.left {
  left: 0;
}
#topmenu #active-bar.right {
  right: 0;
}

.user {
  height: 70px;
  border-bottom: 1px solid #e7ebee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: relative;
}
.user:hover {
  background: #f1f4f6;
  cursor: pointer;
}

.user * {
  pointer-events: none;
}

.user .img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.user div strong {
  font-size: 1.1rem;
  font-weight: 600;
  color: #597a96;
}

.user div span {
  font-weight: 400;
  color: #aab8c2;
  display: block;
  font-size: 13px;
}

#search {
  background: #e3e9ed
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/search.png") -11px 0
    no-repeat;
  height: 60px;
  width: 100%;
}

#searchfield {
  background: #e3e9ed;
  margin: 21px 0 0 55px;
  border: none;
  padding: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
  color: #8198ac;
}
#searchfield:focus {
  outline: 0;
}
