<div id="myModal" class="container modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-bottom">
                <a id="modal-close" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times"></i></a>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete this record? This process cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <div class="btn-group pb-2 pr-2">
                    <button class="modal-actions btn btn-danger mr-1" data-dismiss="modal" data-action="cancel"><i
                            class="far fa-window-close"></i>
                        Cancel</button>
                    <button class="modal-actions btn btn-primary" data-action="confirm" data-dismiss="modal"><i
                            class="fas fa-check"></i>
                        Yes, I'm sure</button>
                </div>
            </div>
        </div>
    </div>
</div>